.main-img-logo{
    height: 100px;
}

.footer-img-logo{
    height: 180px;
}

.main-header-background{
    --background: #ddf8e8 !important;
}
.d-none{
    display: none;
}
.pt-10{
    padding-top: 10px;
}
.pt-40{
    padding-top: 45px;
}

.custom-main-header-bg{
    background-color: #ddf8e8;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}
.custom-main-header{
    padding-bottom: 10px;
    position: sticky;
    z-index: 10;
    top: 0px;
}

.swiper{
    padding-bottom: 25px;
}

.swiper .swiper-pagination-bullet{
    background: #cccccc;
    opacity: 1;
}

.swiper .swiper-pagination-bullet-active{
    background: #28ba62;
}

.p-sticy-header{
    position: sticky;
    top: 0px;
    z-index: 9;
}

.py-1{
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.pt-0{
    padding-top: 0;
}

.content-main h1, .content-main h2, .content-main h4{
    /* text-align: center; */
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    /* font-weight: 300;
    font-size: 40px; */
    color: #080808;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.content-main h1:before, .content-main h2:before, .content-main h4:before {
    width: 28px;
    height: 5px;
    display: block;
    content: "";
    position: absolute;
    bottom: 3px;
    left: 50%;
    margin-left: -14px;
    background-color: #28ba62;
}

.content-main h1:after, .content-main h2:after, .content-main h4:after {
    width: 100px;
    height: 1px;
    display: block;
    content: "";
    position: relative;
    margin-top: 10px;
    left: 50%;
    margin-left: -50px;
    background-color: #28ba62;
}

.content-main p{
    text-align: justify;
}

.p-0{
    padding: 0 !important;
}

.m-0{
    margin: 0 !important;
}

.m-1{
    margin: 0.4rem !important;
}

.p-10{
    padding: 10px;
}

.pt-15{
    padding-top: 15px;
}

.category-img-card{
    height: 60px;
    object-fit: contain;
    padding-top: 10px;
}

.text-capitalize{
    text-transform: capitalize;
}

.bg-grey{
    background-color: #fefdfd;
}

.bg-white{
    background-color: #ffffff;
}

.card-bg-grey{
    --background: #f8f8f8;
}

.product-card{
    --background: transparent;
    box-shadow: none;
}

.product-img-container{
    background-color: #f8f8f8;
}

.d-inline-block{
    display: inline-block;
}

.mb-1{
    margin-bottom: 0.5rem;
}

.mb-main-1{
    margin-bottom: 1rem;
}

.main-tabs{
    --ripple-color: #28ba62;
}

.main-tabs.tab-selected{
    color:#28ba62;
}

.padding-inline-5{
    padding-inline: 5px;
}

.pagination-btn{
    --padding-start: 10px;
    --padding-end: 10px;
    height: 30px;
}

.mt-_5{
    margin-top: 0.1rem;
}

.pt-_5{
    padding-top: 0.3rem;
}

.pb-0{
    padding-bottom: 0;
}

.ptb-1{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.p-sticky-0{
    position: sticky;
    top: 0;
    z-index: 10;
}

.transparent-item-bg{
    --background: transparent;
    --padding-start: 0;
    --inner-padding-end: 0;
}

.transparent-bg{
    background: transparent;
}

.img-empty-cart{
    height: 80px;
    object-fit: contain;
}